<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd" bootstrap="vendor/autoload.php" colors="true">
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">./app</directory>
    </include>
    <report>
      <clover outputFile="tests/build/logs/clover.xml"/>
      <html outputDirectory="tests/build/coverage"/>
      <text outputFile="tests/build/coverage.txt"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="Application Test Suite">
      <directory suffix="Test.php">./tests</directory>
    </testsuite>
  </testsuites>
  <listeners>
    <listener class="JohnKary\PHPUnit\Listener\SpeedTrapListener"/>
  </listeners>
  <logging>
    <junit outputFile="tests/build/report.junit.xml"/>
  </logging>
</phpunit>
